<tui-root>
  <header tuiMode="onDark" class="dark">
    <h1>Header <tui-svg src="tuiIconHeartLarge" class="icon"></tui-svg></h1>
    <div>
      <button tuiButton size="s" icon="tuiIconFilter">Options</button>
      <button tuiButton size="s" icon="tuiIconPlus">Add</button>
    </div>
  </header>
  <section>
    <a tuiAction>
      <tui-marker-icon
        size="s"
        src="tuiIconLikeLarge"
        class="tui-island__marker positive"
      ></tui-marker-icon>
      <section>
        <h3 class="header tui-text_body-s">Header</h3>
        <p class="description tui-text_body-xs">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores at, eligendi id illum in molestias praesentium quia. Adipisci architecto asperiores autem consequatur ipsam iure magni nihil obcaecati repellendus ullam.</p>
      </section>
    </a>
  </section>
</tui-root>
