<tui-root>
  <header tuiMode="onDark" class="dark">
    <div>
      <h1>DATING AD</h1>
      <div class="slogan">ANONYMOUS DATING APP</div>
    </div>
    <div class="controls">
      <button
        tuiButton
        (click)="showFilterDialog()"
        size="s"
        icon="tuiIconFilter"
      >
        Options
      </button>
      <button tuiButton (click)="showAddDialog()" size="s" icon="tuiIconPlus">
        Add
      </button>
    </div>
  </header>
  <section>
    <ng-container *ngFor="let item of list">
      <a class="announcement" tuiAction>
        <tui-marker-icon
          size="s"
          src="tuiIconLikeLarge"
          class="tui-island__marker positive"
        ></tui-marker-icon>
        <section class="announcement-data">
          <!--          <h3 class="header tui-text_body-s">Header</h3>-->
          <p class="description">{{ item.Description }}</p>
          <p class="description tui-text_body-xs">
            {{ item.Location | location }}
          </p>
        </section>
      </a>
    </ng-container>
  </section>
</tui-root>
